body {
  /* background: black; */
  background-image: url('../images/cool-wallpapers-hd-8087-8418-hd-wallpapers.jpg')
}

#canvas {
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  background: white;
  font-family: 'Orbitron', sans-serif;
}
