body {
  /* background: black; */
  background-image: url("../images/cool-wallpapers-hd-8087-8418-hd-wallpapers.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  background-image: url("../images/alien-planet-sand.png");
  font-family: "Orbitron", sans-serif;
}

#start-button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;  
}